
h1{text-align: center;}
.navbar ul{
      list-style-type: none;
      background-color: #965883;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
        border-radius: 25px;
        padding: 20px;

}
.navbar a{
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {background-color: #a57496}

.navbar li{float: left;}


.aboutus-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.aboutus-photo {
  width: 50%;
  max-width: 320px;
  border-radius: 50%;
}

.footer-container {
  background: #965883;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  border-radius: 25px;
}

.footer-content {
  font-size: 13px;
  color: #F1F1F1;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}










