
h1{text-align: center;}
.navbar ul{
      list-style-type: none;
      background-color: #965883;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
        border-radius: 25px;
        padding: 20px;

}
.navbar a{
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}



.navbar a:hover {background-color: #a57496}

.navbar li{float: left;}


.aboutus-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.aboutus-photo {
  width: 50%;
  max-width: 320px;
  border-radius: 50%;
}

.footer-container {
  background: #965883;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  border-radius: 25px;
}

.footer-content {
  font-size: 13px;
  color: #F1F1F1;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

/* Food and Drink Menu */
.menu-group {
  display: grid;

}
.menu-item {
  display: flex;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-group {
  grid-template-columns: repeat(2, 1fr);
}


/* sources */

.sources-container {
  justify-content: center;
  text-decoration: none;
  display: flex;
  list-style-type: none

}


/* Meet our Bunnies*/

.meetourbunnies-container {
  justify-content: center;
  display: flex;
}


.bunny {
  
  font-size: 14px;
}

.bunnies-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.bunny-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.bunny {
  display: flex;
}

.bunny-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.bunny-text {
  flex-grow: 1;
}

.bunny-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.bunny-name {
  margin-right: 1.5em;
}

.bunny-description {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .bunny {
    font-size: 16px;
  }

  .bunny-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .bunny-image {
    width: 125px;
    height: 125px;
  }
}
