
body {
    height: 3000px;
    background-image: linear-gradient(to bottom, #ffffff, #faf6ff, #f7ecfe, #f8e2fb, #fad7f5, #fbd2f2, #fdccee, #ffc7e9, #ffc7e9, #ffc7e9, #ffc7e9, #ffc7e9);
  }
img {
      border-radius: 50%;
      border: 5px solid #000000;
      border-radius: 50%;
      padding: 5px;
      width: 15%; /* (this changes the image size with the border) take notes on image padding and borders.*/
      box-shadow: 10px 10px 10px 10px rgb(204, 173, 230),
      -10px 10px 10px 10px rgb(204, 173, 230) 
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }